.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-icon-send {
  width: 1.2001953125em;
}

.icon-Logo-1 {
  width: 1.857421875em;
}

.icon-logo-6 {
  width: 1.857421875em;
}

.icon-logo-5 {
  width: 1.857421875em;
}

.icon-logo-4 {
  width: 1.857421875em;
}

.icon-logo-3 {
  width: 1.857421875em;
}

.icon-logo-2 {
  width: 1.857421875em;
}
